name: docker

on:
  push:
    branches: [ "master" ]
    paths:
      - Dockerfile
      - i686-elf-tools.sh
  pull_request:
    branches: [ "master" ]
    paths:
      - Dockerfile
      - i686-elf-tools.sh

jobs:
  push_to_registry:
    name: Update Docker Image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/regularrabbit05/i686-elf-tools
          tags: |
            type=raw,value=latest

      - name: Build and push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
